/*include fonts*/
@font-face {
    font-family: 'Helvetica Neue Italic';
    src: url(../font/Helvetica%20Neue/HelveticaNeueCyr-Italic.otf);
}
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(../font/Helvetica%20Neue/HelveticaNeueCyr-Light.otf);
}
@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(../font/Helvetica%20Neue/HelveticaNeueCyr-Medium.otf);
}
@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(../font/Helvetica%20Neue/HelveticaNeueCyr-Bold.otf);
}
@font-face {
    font-family: 'Bebas Neue Bold';
    src: url(../font/Bebas_Neue/BebasNeue%20Bold.otf);
}

html{
    background-image: url("../img/bg_main1.png");
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    font-size: 18px;
}

a{
    font-family: 'Helvetica Neue Light', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #fefefe;
    text-decoration: none;
    text-transform: uppercase;
}

h2{
    font-family: 'Helvetica Neue Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-family: 'Helvetica Neue Light', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.wrap{
    position: relative;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

#content_and_footer_wrap{                /* bottom background*/
    position: relative;
    background-image: radial-gradient(at bottom, rgba(177,235,118,0.95) 0%, rgba(75,121,31,0.95) 50%);
    background-repeat: no-repeat;
    background-size: 100% 311px;
    background-position: bottom left;
    padding-bottom: 50px;
}

#content_and_footer_wrap .pattern_BG{           position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 311px;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
}

#content_and_footer_wrap .triangle{
    position:absolute;
    bottom: 310px;
    left: 0;
    height: 6px;
    width: 100%;
    background-image: url('../img/tr1.png');
    background-repeat: repeat-x;
    background-position: left top;
}

#menu_pop{                  /* pop menu*/
    position: absolute;
    top: -200px;
    width: 177px;
    z-index: 50;
    padding-top: 17px;
    padding-left: 23px;
    background-image: url("../img/nav/bg_pop_menu.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px;
    -webkit-transition: top 0.6s 0.6s;
    -moz-transition: top 0.6s 0.6s;
    -ms-transition: top 0.6s 0.6s;
    -o-transition: top 0.6s 0.6s;
    transition: top 0.6s 0.6s;

}

#menu_pop .menu_pop_li{
    line-height: 30px;
    background-image: none;
    padding: 0;
    font-size: 14px
}


#nav{                           /* nav block*/
    position: fixed;
    width: 100%;
    z-index: 125;
    height: 30px;
    background-color: #db3534;
    box-shadow: 0 1px 20px 0 #10100f;
    -webkit-box-shadow: 0 1px 20px 0 #10100f;
    -moz-box-shadow: 0 1px 20px 0 #10100f;
    padding-top: 8px;
    padding-bottom: 7px;
}

#nav .wrap{
    overflow: hidden;
}

#menu{                          /* menu button*/
    display: inline-block;
    height: 37px;
}

#menu #first_a1{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-image: url("../img/nav/menu_icon.png");
    background-repeat: no-repeat;
    background-position: top left;
    height: 37px;
    width: 57px;
    padding-left: 60px;
    font-size: 18px;
    line-height: 30px;
    -webkit-transition: top 0.3s 0.3s, text-indent 0.3s, background 0.3s;
    -moz-transition: top 0.3s 0.3s, text-indent 0.3s, background 0.3s;
    -ms-transition: top 0.3s 0.3s, text-indent 0.3s, background 0.3s;
    -o-transition: top 0.3s 0.3s, text-indent 0.3s, background 0.3s;
    transition: top 0.3s 0.3s, text-indent 0.3s, background 0.3s;
}

#menu_pop a:hover{
    text-decoration: underline;
}

#search {
    position: relative;
    float: right;
    width: 33%;
}
#search input{
    border: none;
    width: 100%;
    height: 30px;
    padding-left: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.302);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5),
                inset 0 2px 5px 0 rgba(0, 0, 0, 0.004);
    font: 24px 'Helvetica Neue Light', sans-serif;
    color: #ff3f3e;
    outline: none;
}
    ::-webkit-input-placeholder {color:#ff3f3e;padding-left: 2px;}        /*  placeholder*/
    ::-moz-placeholder          {color:#ff3f3e;padding-left: 2px;}
    :-moz-placeholder           {color:#ff3f3e;padding-left: 2px;}
    :-ms-input-placeholder      {color:#ff3f3e;padding-left: 2px;}

#search #submit {
    display: none;
}

.submit_label{
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(../img/nav/search_icon.png) 50% no-repeat;
    outline: none;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
}

.submit_label:hover{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type="search"] {    /* possible to style menu*/
    -webkit-appearance: none;
}

#change_language{           /*change language block*/
    float: right;
    margin-right: 30px;
}

.language{
    float: right;
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.302);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5),
                inset 0 2px 5px 0 rgba(0, 0, 0, 0.004);
    -webkit-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5),
                inset 0 2px 5px 0 rgba(0, 0, 0, 0.004);
    -moz-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5),
                inset 0 2px 5px 0 rgba(0, 0, 0, 0.004);

}

.language a{
    display: block;
    font-family: 'Helvetica Neue Light', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    text-transform: lowercase;
}

.language:first-child a{
    color: #ff3f3e;
}

.language:first-child{
    margin-left: 8px;
}

#basket{                    /*busket block*/
    display: inline-block;
    float: right;
    width: 140px;
    height: 30px;
    margin-right: 3%;
}

#basket a{
     display: inline-block;
     height: 45px;
     background-image: url("../img/nav/basket.png");
     background-repeat: no-repeat;
     padding-left: 40px;
}

#basket h3{
    line-height: 15px;
    text-transform: none;
}

/*Header*/

header{             /*header background*/
    position: relative;
    background-image: radial-gradient(at top, rgba(177,235,118,0.95) 0%, rgba(75,121,31,0.95) 50%);
    background-repeat: no-repeat;
    background-size: 100% 565px;
}

header .pattern_BG{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 565px;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
}

header .triangle{
    position:absolute;
    top: 564px;
    left: 0;
    height: 6px;
    width: 100%;
    background-image: url('../img/tr1.png');
    background-repeat: repeat-x;
    background-position:left bottom;
}

header .wrap{
    position: relative;
    padding-top: 80px;
}

#block_with_icon_basket{        /*big busket*/
    display: inline-block;
    height: 144px;
    width: 21.18%;
    min-width: 200px;
    max-width: 200px;
}

#log_in{
    display: block;
    text-transform: none;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
}

#log_in:hover{
    text-decoration: none;
}

#sing_up{
    display: inline-block;
    text-transform: none;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
}

#sing_up:hover{
    text-decoration: none;
}

.social_icon{           /*icons*/
    overflow: hidden;
    margin-bottom: 6px;
}

.social_icon a{
    display: block;
    float: left;
    margin-right: 7%;
}

.social_icon a:last-child{
    margin-right: 0;
}

#large_basket_box{
    height: 66px;
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: -moz-linear-gradient( 90deg, rgb(176,39,39) 0%, rgb(222,54,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(176,39,39) 0%, rgb(222,54,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(176,39,39) 0%, rgb(222,54,53) 100%);
    box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.5),
                inset 0 1px 1px 0 rgba(255, 255, 255, 0.29);

}

#large_basket_box a{
    display: block;
    height: 55px;
    width: 55%;
    padding-top: 8px;
    padding-left: 45%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url("../img/header/large_basket.png");
    background-repeat: no-repeat;
    background-position: 5.5% 11px;
}

#large_basket_box h2{
    text-transform: none;
    line-height: 20px;
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
    margin-bottom: 7px;
}

#large_basket_box h3{
    line-height: 12px;
    text-transform: none;
}

.logo{                      /*logo*/
    position: absolute;
    left: 40.6%;
    top: 80px;
}

.logo img{
    display: block;
    margin: 0 auto;
}

.logo h1{
    font-size: 48px;
    font-family: 'Helvetica Neue Medium', sans-serif;
    color: #56762a;
    text-transform: uppercase;
    line-height: 1.2em;
    text-align: center;
    text-shadow: 0.5px 0.866px 1px rgba(255, 255, 255, 0.4);
}

.block_with_number{             /*zamirnuk*/
    width: 21.18%;
    max-width: 200px;
    height: 144px;
    float: right;
}

.block_with_number h3{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
}

.block_with_number h3 span{
    display: block;
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-size: 23px;
    line-height: 23px;
}

.block_with_number a{
    display: block;
    height: 66px;
    width: 100%;
    padding-top: 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: -moz-linear-gradient( 90deg, rgb(176,39,39) 0%, rgb(222,54,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(176,39,39) 0%, rgb(222,54,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(176,39,39) 0%, rgb(222,54,53) 100%);
    box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.5),
                inset 0 1px 1px 0 rgba(255, 255, 255, 0.29);
    font-size: 36px;
    font-family: 'Helvetica Neue Bold', sans-serif;
    text-align: center;
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.3);
}

.block_with_number a span{
    display: block;
    font-size: 26px;
}

#doors{
    position:relative;
    z-index: 100;
    margin-top: 63px;
    width: 100%;
    overflow: hidden;
}

.door{
    float: left;
    width: 15.692%;
    min-width: 124px;
    margin-left: 5%;
}

.door img{
    width: 100%;
    margin-bottom: 20px;
}
.left_shadow{
    box-shadow: -3px 2px 6px 3px rgba(0,0,0,0.5);
}

.center_shadow{
    box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.5);
}

.right_shadow{
    box-shadow: 3px 2px 6px 3px rgba(0,0,0,0.5);
}

.left_shadow:hover{
    box-shadow: -3px 2px 6px 6px rgba(0,0,0,0.5);
}

.center_shadow:hover{
    box-shadow: 0px 2px 6px 6px rgba(0,0,0,0.5);
}

.right_shadow:hover{
    box-shadow: 3px 2px 6px 6px rgba(0,0,0,0.5);
}


.door:first-child{
    margin-left: 0.8%;
}

.door:last-child{
    margin-right: 0.3%;
}

.door h3 a{
    display: block;
    font-family: 'Bebas Neue Bold', sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: #5d842d;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    letter-spacing: -0.5px;
}

.door h3 a span{
    display: block;
    font-family: 'Bebas Neue Bold', sans-serif;
    font-size: 63px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
}

/*BUNER*/
#buner{
    margin-top: 77px;
}
#buner .wrap{
    position: relative;
    height: 346px;
}

.wrap > input {
    display: none;
}

.slider {
    background-color: #ddd;
    height: 326px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 20px);
    margin-top: 11px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border: 10px solid #ffffff;
}

.slides {
    display: block;
    height: 326px;
    position: absolute;
    width: 100%;

    opacity: 0;
    z-index: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;

    font-size: 72px;
    font-family: 'Helvetica Neue Medium', sans-serif;
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 326px;
    text-align: center;
    text-shadow: 0 1px 4px rgba(1, 1, 1, 0.75);
}


.slide1 {
    background-image: url('../img/baner/slide1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slide2 {
    background-image: url('../img/baner/slide1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slide3 {
    background-image: url('../img/baner/slide1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slide4 {
    background-image: url('../img/baner/slide1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wrap .controls{
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -60px;

}

.wrap .buner_lable {
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0 0 0 12px;
    position: relative;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.wrap .buner_lable:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
    background: #eb2f2e;
}

.wrap .buner_lable:after {
    border: 1px solid #ddd;
    content: " ";
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 0.2);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.004);
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#content{
    margin-top: 65px;
    overflow: hidden;
}

#content h2{
    font-family: 'Bebas Neue Bold', sans-serif;
    font-size: 48px;
    color: rgb(96, 139, 48);
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    margin-bottom: 52px;
}

#content .menu{
    float: left;
    width: 18.004%;
    margin-right: 3.177%;
}

#content .menu a{
    font-size: 15px;
    color: rgb(0, 102, 0);
    line-height: 30px;
    text-decoration: underline;
    text-align: left;
}

#content .menu a#active{
    color: #cc0000;
}

#content .menu a:hover{
    text-decoration: none;
}

#about_cont{
    position:relative;
    z-index: 10;
    float: left;
    width: calc(57.638% - 14px - 34px - 34px);
    padding: 25px 34px;
    border: 7px solid #fff;
    background-image: url("../img/content/bg.jpg");
    box-shadow: 0 4px 10px 0 rgba(1, 1, 1, 0.6);
    -webkit-box-shadow: 0 4px 10px 0 rgba(1, 1, 1, 0.6);
    -moz-box-shadow: 0 4px 10px 0 rgba(1, 1, 1, 0.6);

}

#about_cont p{
    font-size: 18px;
    font-family: 'Helvetica Neue Light', sans-serif;
    color: rgb(51, 51, 51);
    text-indent: 20px;
    line-height: 21px;
    margin-bottom: 21px;
}


#blurb {
    float: right;
    margin-left: 2.84%;
    width: 18.004%;
}

#blurb .block_blurb_with_number{
    float: right;
    height: auto;
    width: 100%;
    max-width: 170px;
}


#blurb .block_blurb_with_number h3 {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    width: 100%;
    line-height: 18px;
    margin-bottom: 6px;
}
#blurb .block_blurb_with_number h3 span{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    line-height: 22px;
}

#blurb .block_blurb_with_number a{
    width: 100%;
    font-size: 31px;
    height: 60px;
}

#blurb .block_blurb_with_number a span{
    display: block;
    font-size: 22px;
}

#blurb .banner_area{
    display: block;
    float: right;
    width: 100%;
    max-width: 170px;
    height: 84px;
    padding: 18px 0;
    font-family: 'Bebas Neue Bold', sans-serif;
    font-size: 42px;
    text-align: center;
    background: repeating-linear-gradient(to top left, #e56463 0px, #e56463 15px, #dc3534 15px, #dc3534 30px);
    box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.5),
                inset 0 1px 1px 0 rgba(255, 255, 255, 0.29);
    margin-top: 35px;
    margin-bottom: 35px;
}

#blurb .banner_area span{
    display: block;
    font-size: 48px;
}

/*FOOTER*/

footer{
    position: relative;
    z-index: 25;
    height: 44px;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    margin-top: 91px;
    overflow: hidden;
}

.footer_BG{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    height: 44px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 6px 0 rgba(0, 0, 0, 0.75);
    background-color: rgba(219, 53, 52, 0.95);
    background-repeat: repeat-x;
}


address{
    position: relative;
    z-index: 40;
    float: left;
    font-family: 'Helvetica Neue Light', sans-serif;
    font-size: 18px;
    color: rgb(255, 102, 102);
    line-height: 44px;
}

#footer_menu{
    position: relative;
    z-index: 40;
    float: right;
}

#footer_menu li{
    float: left;
    margin-left: 30px;
}

#footer_menu li a{
    font-size: 18px;
    line-height: 44px;
    text-transform: capitalize;
}
